.galleryButton { margin-left: 35%; height: 25px; width: 7%; /* background:
#32142d; */ color: white; font-size: 1.5rem; margin-right: 2%; /* opacity: 0.8;
*/ background: linear-gradient(to bottom right, #32142d, #ff9a5a);
border-radius: 28px; /* padding: 0.4%; */ padding-left: 0.5%; padding-right:
0.5%; border: 1px solid gray; box-shadow: 5px 3px 3px rgb(31, 30, 30); }
.galleryCall, .galleryWhatsApp { /* opacity: 0.8; */ font-size: 1.5rem; height:
25px; background: linear-gradient(to bottom right, #32142d, #ff9a5a);
border-radius: 28px; /* padding: 0.4%; */ padding-left: 0.5%; padding-right:
0.5%; /* padding-bottom: 0.4%; */ border: 1px solid gray; box-shadow: 5px 3px
3px rgb(31, 30, 30); } .galleryButton:hover, .galleryCall:hover,
.galleryWhatsApp:hover { background: #32142d; opacity: 0.7; color: #fff; }
